.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #e0c3fc 0%, #8ec5fc 100%);
}

.lottie{
    height: 400px;
}

.register input{
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid rgba(80, 76, 76, 0.144);
    color: rgba(18, 18, 18, 0.493);
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    border-bottom: 1px solid rgba(84, 80, 80, 0.158) !important;
}

label, a{
    color: rgba(19, 18, 18, 0.409) !important;
}
.register h1{
    font-size: 25px;
    color: rgba(17, 13, 13, 0.557);
}