@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
body {
  margin: 15px;
  font-family: "Montserrat", sans-serif !important;
}

body, html{
  overflow-x: hidden;
}

.primary{
  background-color: #3b1484bf;
  padding: 5px 20px;
  color: white;
  border: none;
}